<!DOCTYPE html>
    <head>		 <html>
       <link rel="stylesheet" href='/static/style.css' />		 <body>
    </head>		
     <body>		 <Div id="heading">
       <h1>Welcome to our DevOps Tutorial Home Page</h1>		 Welcome to BDD Test Automation Online Demo!
    </body>		 </Div>
 </html>		 <br/><br/>
 <Div>
 	<span>
     What is your Name: 
 <input type="text" name="username" id ="username" />

  <button type="button" id="btnSubmit"
 onclick="document.getElementById('demo').innerHTML = 'Hello ' +   document.getElementById('username').value">
 Submit.</button>

 
    <p><span id="demo"></span> </p>

      </span>

 
 
  </Div>
 </body>
 </html>
